*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}


 .logo{

    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
background-color: white;

}

.logo>nav{
    display: flex;
    gap: 20px;



}

.logo >nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    

}

.logo>nav button{
    display: flex;
    gap: 10px;
    border: none;
    background: transparent;

}

.location{
    display: flax;
    padding-top: 8px;
    height: 36px;
    background-color: rgba(201, 195, 195, 0.176);
    padding-left: 100px;
    
}

.location>span{
    font-size: 12px;
    



}
.location>a{
    font-size: 12px;
    color: black;
    

}

.smart-Watches{
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 40px;
    gap: 20px;
    z-index: 30;
    
}

.smart{
    position: relative;
    z-index: 30;

}

.smart p{
     position: absolute;
     bottom: 36px;
     left: 50px;
     font-size: 20px;
     text-transform: uppercase;
     

}


.paira{
    font-size: 48px;
    font-weight: 600;
    rotate: -90deg;
   transform: translateY(-100%); 
    
}

.smart img{
    border-radius: 15px;

}

.mobikwik{
    height: 80px;
    background-color: blue;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-around;


}

.mobikwik-png img{
    color: blue;

}

.trending-photo{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;

}

.trending-photo h3{
    font-weight: 400;

}

.trending-img img{
     border: 1px solid black;
     height: 350px;
     width: 300px;

}

.trending-img button{
    background-color: transparent;
    border: none;
    padding-top: 12px;
    padding-bottom: 18px;

}

.trending-p{
    height: 100px;
    width: 300px;
    border: 1px solid black;
    margin-left: 60px;
    padding-left: 12p;
}

.trending-photo{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
     

}

.marquee-tag{
    height: 50px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 20px;
    background-color: rgb(162, 171, 38);
    
}

.shop-h{
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
}

.vibe-shop img{
    width: 600px;
    height: 600px;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
}

.fv600-img img{
    width: 600px;
    height: 500px;
    margin-left: 40px;
}

.yuvi-cla{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

.fv600-img p{
     margin-left: 180px;
     margin-top: 30px;
}

.carouse img{
    height: 500px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

}

.smartWatches{
    display: flex;
    align-items: center;
    padding-left: 80px;
    gap: 20px;
    z-index: 30;
}

.smartWatches {
    display: flex;
    gap: 100px;
}

.scroll-container {
      overflow: hidden;
      width: 80%;
      background: #00000027;
      padding: 50pxpx;
      border-radius: 10px;
      margin-left: 150px;
      z-index: 10;
    }
    .scroll-images {
      display: flex;
      gap: 10px;
      animation: scroll 15s  linear infinite;
    }
    .scroll-images img {
      width: 100%;
      height: 300px;
      border-radius: 8px;
      object-fit: cover;
      z-index: 40;
    }

    @keyframes scroll {
        0%{transform: translate(0);}
        100%{transform: translate(-100%);}

    }

      .caro {
      width: 90%;
      height: 350px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.25);
      margin-top: 40px;
      margin-left: 70px;
    }
    .slides {
      display: flex;
      height: 100%;
      transition: transform 1s ease-in-out;
    }
    .slides img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex-shrink: 0; /* हर slide fix रहेगी */
    }
    /* Buttons */
    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      color: #fff;
      background: rgba(0,0,0,0.5);
      border: none;
      padding: 8px 12px;
      cursor: pointer;
      border-radius: 50%;
      z-index: 10;
    }
    .prev { left: 10px; }
    .next { right: 10px; }


    .four-photo img{
    width: 300px;
    height: 300px;
    margin-left: 40px;

}

.four-photo{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2 , 1fr);
}

.vibe-shop img{
    width: 600px;
    height: 620px;
    border: 1px solid rgba(40, 37, 37, 0.333);
    border-radius: 8px;
    overflow: hidden;
}

.five-photo{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-top: 40px;
    margin-left: 70px;
}

.four-photo img{
    border: 1px solid rgba(0, 0, 0, 0.266);
    overflow: hidden;
    border: 10px;
}


.last-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
    padding: 40px 40px;
    color: gray;
    height: 100px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.123);
}



.span-sec{
    color: black;
    margin-left: 18px;
    font-size: 24px;
}

.last-section{
    height: 600px;
    width: 100%;
    position: relative;
    background-color: rgba(8, 8, 8, 0.927);  border: 1px solid rgba(40, 35, 35, 0.307);
    display: grid;
    grid-template-columns: repeat(4 , 1fr); 
    padding-top: 60px;
}

.last-logo img{
    
    position: absolute;
    top: 100px;
    left: 300px;
    color: rgb(245, 243, 243);
}

.last-logo h3{
    color: #fdfbfb;
    font-size: 40px;
    position: absolute;
    top:110px;
    left: 80px;
    font-weight: 300;
}


.fast-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 250px;
    left: 100px;
    display: flex;
    gap: 28px;
    align-items: center;
    font-size: 36px;
}

.fast-icon a{
    color: #fff
}

.service h1{
    margin-left: 48px;
    margin-right: 100px;
    color: #fdfbfb;
    font-size: 24px;
    font-weight: 300;

    
}

.service a{
    margin-left: 48px;
     text-decoration: none;  
     color: #f7f4f4; 

}

.service-link a:hover{
    text-decoration: underline;
    transition-duration: 2s;
    color: white;


}

.contact-us{
    position: absolute;
}

.contact-us h1{
     margin-left: 420px;
     margin-top: 55%;
    color: #fdfbfb;
    font-size: 24px;
    font-weight: 300;
 
}

.contact-us a{
    margin-left: 420px;
     margin-top: 55%;
     text-decoration: none;  
     color: #f7f4f4; 

}

.contact-us a:hover{
     text-decoration: underline;
    transition-duration: 2s;
    color: white;

}

.app-store{
    position: absolute;
    top: 300px;
    left: 60%;

}

.app-store img{
    height: 60px;
    width: 180px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.app-store h3{
    color: #f7f4f4;
    font-weight: 300;
    margin-bottom: 20px;
}

.app-store h2{
    color: #f7f4f4;
    font-weight: 300;
    margin-top: 36px;

}

.app-store p{
    color: #fff;
    margin-top: 20px;
}

.app-store h5{
     color: #f7f4f4;
     margin-top: 60px;
   
}






